<!DOCTYPE html>
<html>
    <head>
        <style>
            .container {
                padding: 25px;
            }

            input {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: 6px;
                margin-bottom: 16px;
            }

            #message {
                display:none;
                background: #f1f1f1;
                color: #000;
                position: relative;
                padding: 20px;
                margin-top: 10px;
            }

            #message p {
                padding: 10px 35px;
                font-size: 18px;
            }

            /* Add a green text color and a checkmark when the requirements are right */
            .valid {
                color: green;
            }

            .valid:before {
                position: relative;
                left: -5px;
                content: "✔";
            }

            /* Add a red text color and an "x" when the requirements are wrong */
            .invalid {
                color: red;
            }

            .invalid:before {
                position: relative;
                left: -5px;
                content: "✖";
            }
        </style>
    </head>

    <body>
        <%- include('partials/header') -%>
        <h1 class="text-5xl font-bold mt-0 mb-6">User session and statistics</h1>
        <table>
            <tr>
               <th>User Id</th>
               <th>Email</th>
               <th>Profile</th>
               <th>Latest Login</th>
               <th>No. of Logins</th>
               <th>Registered At</th>
            </tr>
         
            <% for (let i = 0; i < users.length; /* I save the data in a variable 'users', I don't know how you named your variable  */  i++) { %>
             <tr>
               <td><%= users[i].UID %></td>
               <td><%= users[i].email %></td>
               <td><%= users[i].profile %></td>
               <td><%= users[i].latestLogin %></td>
               <td><%= users[i].loginTimes %></td>
               <td><%= users[i].registerTime %></td>
             </tr>    
            <% } %>
         </table>
        </div>
    </body>
</html>